.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
}

input,
button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}
.data {
  border: 2px solid black;
  width: 500px;
  height: 250px;
  margin: 10px;
}
